<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
        <title>Log in</title>
    </head>
    <body>
        <div class="container">
            <h1>Log in to your account</h1>
            <form action="" method="post">
                {% csrf_token %}
                <input type="email" name="email" id="" placeholder="Email" />
                <input type="password" name="password" id="" placeholder="Password" />
                <input type="submit" value="Log in" />
            </form>
        </div>
        <div class="options">
            <a>Can't log in?</a>
            <a href="{% url 'login:register' %}">Create an account</div>
        </div>
    </body>
</html>
