<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Balance</title>
        <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
            defer
        ></script>
        <script src="{% static 'scripts/main.js' %}" defer></script>
    </head>
    <body>
        <div class="main--container">
            <div class="balance">
                <h1>Current balance</h1>
                <h2>14 200 PLN</h2>
                <div class="balance--form balance--entry">
                    <form action="" method="post">
                        <div class="entry--left two-rows">
                            <input
                                type="text"
                                name=""
                                id=""
                                placeholder="Title"
                            />
                            <input
                                type="number"
                                name=""
                                id=""
                                placeholder="Value"
                            />
                        </div>
                        <div class="entry--right two-rows">
                            <input type="submit" value="Add" class="button" />
                        </div>
                    </form>
                </div>
                <div class="balance--container">
                    <div class="balance--entry">
                        <div class="entry--left">
                            <p class="description">Gift from dad</p>
                            <p class="before">14 000 PLN</p>
                            <p class="value value__green">+ 200 PLN</p>
                            <p class="date">20.07.2022</p>
                        </div>
                        <div class="entry--right two-rows">
                            <button class="blue">Edit</button>
                            <button class="red">Delete</button>
                        </div>
                    </div>
                    <div class="balance--entry">
                        <div class="entry--left">
                            <p class="description">Gift from dad</p>
                            <p class="before">14 000 PLN</p>
                            <p class="value value__green">+ 200 PLN</p>
                            <p class="date">20.07.2022</p>
                        </div>
                        <div class="entry--right two-rows">
                            <button class="blue">Edit</button>
                            <button class="red">Delete</button>
                        </div>
                    </div>
                    <div class="balance--entry">
                        <div class="entry--left">
                            <p class="description">Gift from dad</p>
                            <p class="before">14 000 PLN</p>
                            <p class="value value__green">+ 200 PLN</p>
                            <p class="date">20.07.2022</p>
                        </div>
                        <div class="entry--right two-rows">
                            <button class="blue">Edit</button>
                            <button class="red">Delete</button>
                        </div>
                    </div>
                    <div class="balance--entry">
                        <div class="entry--left">
                            <p class="description">Gift from dad</p>
                            <p class="before">14 000 PLN</p>
                            <p class="value value__green">+ 200 PLN</p>
                            <p class="date">20.07.2022</p>
                        </div>
                        <div class="entry--right two-rows">
                            <button class="blue">Edit</button>
                            <button class="red">Delete</button>
                        </div>
                    </div>
                    <div class="balance--entry">
                        <div class="entry--left">
                            <p class="description">Gift from dad</p>
                            <p class="before">14 000 PLN</p>
                            <p class="value value__green">+ 200 PLN</p>
                            <p class="date">20.07.2022</p>
                        </div>
                        <div class="entry--right two-rows">
                            <button class="blue">Edit</button>
                            <button class="red">Delete</button>
                        </div>
                    </div>
                    <div class="balance--entry">
                        <div class="entry--left">
                            <p class="description">Gift from dad</p>
                            <p class="before">14 000 PLN</p>
                            <p class="value value__green">+ 200 PLN</p>
                            <p class="date">20.07.2022</p>
                        </div>
                        <div class="entry--right two-rows">
                            <button class="blue">Edit</button>
                            <button class="red">Delete</button>
                        </div>
                    </div>
                    <div class="balance--entry">
                        <div class="entry--left">
                            <p class="description">Gift from dad</p>
                            <p class="before">14 000 PLN</p>
                            <p class="value value__green">+ 200 PLN</p>
                            <p class="date">20.07.2022</p>
                        </div>
                        <div class="entry--right two-rows">
                            <button class="blue">Edit</button>
                            <button class="red">Delete</button>
                        </div>
                    </div>
                    <div class="balance--entry">
                        <div class="entry--left">
                            <p class="description">Gift from dad</p>
                            <p class="before">14 000 PLN</p>
                            <p class="value value__green">+ 200 PLN</p>
                            <p class="date">20.07.2022</p>
                        </div>
                        <div class="entry--right two-rows">
                            <button class="blue">Edit</button>
                            <button class="red">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="graph">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </body>
</html>
